@use './mixins.scss';
@import './mixins.scss';

.blog-wrapper {
  flex: 1 1 auto; /* push footer down to bottom no matter what happens */
  position:relative;
  margin-top: -8.9rem;
}

.blog-banner {
  position:absolute;
  top: 0;
  height: 40rem;
  width: 100%;
  overflow: hidden;
  z-index: -1;
}

.blog-banner__content {
  text-align: center;
  z-index: 1;
  position:relative;
  margin-top: -25rem;
}

.blog-banner__title {
  font-size: 5rem;
  font-family: var(--SpaceGrotesk);
}

.blog-banner__blurb {
  font-size: 1.6rem;
  line-height: 1.3;

  .blog-banner__title + & {
    margin-top: 1rem;
  }
}

.blog-container {
  flex: 1 1 auto; /* push footer down to bottom no matter what happens */
  position:relative;
  max-width: 120rem;
  width: 90%;
  margin: 0 auto;
  margin-top: 30rem;
  background: white;
}

.blog-slide1,
.blog-slide2,
.blog-slide3 {
  display:block;
  width: 100%;
  height: 40rem;
}

.blog-slide1{
  background: linear-gradient(90deg, rgba(255, 174, 174, 0.5), #d2c3ff) !important;
}
.blog-slide2{
  background: linear-gradient(90deg, rgba(255, 205, 55, 0.59), rgba(221, 149, 126, 0.5))
 !important;
}
.blog-slide3{
  background: linear-gradient(90deg, #acffff, #9d9ad5) !important;
}

.blog-container__inner {
  margin: 0 auto;
  max-width: 70rem;
  width: 100%;
  padding: 5rem 0 ;
}