@use './mixins.scss';
@import './mixins.scss';

.hamburger-menu-container {
  display:flex;
  position:absolute;
  top: 0rem;
  right: 0rem;
}

.hamburger-menu {
  width: 100%;
  max-width: 45%;
  min-width: 300px;
  background: #fff;
  height: 100%;
  box-shadow: -2px 0 2px rgba(15, 15, 15, 0.3);
  z-index: 90;
  position: fixed;
  top: 0;
  right: 0;
  user-select: none;
  padding: 1em 2.5em;
  transform: translateX(100%);

  @include respond(tablet) {
    display: none;
  }

  ul {
    list-style: none;
    margin-top: 3rem;
  }

  li {
    line-height: 1.7;
    margin-top: 2rem;
  }

  a, a:hover, a:focus {
    color: black;
    font-size: 2rem;
  }
}

.hamburger-icon {
  cursor:pointer;
  z-index: 99;
  transition: all .25s ease-in-out;
  top: 3rem;
  right:3rem;
  position:absolute;

  @include respond(tablet) {
    display: none;
  }
}