@use './mixins.scss';
@import './mixins.scss';

.container {
  flex: 1 1 auto; /* push footer down to bottom no matter what happens */
  position:relative;
  margin-top: -8.8rem;
}

.home-header {
  position:relative;
  top: 0;
}

.home-header__wrapper {
  position:absolute;
  z-index: 1;
  height: 100vh;
  width: 90%;
  display:flex;
  justify-content: space-between;
  transform: translateX(-50%);
  left: 50%;
  max-width: 120rem;
}

.home-header__text {
  flex: 1 1 66.666%;
  flex-basis: 66.666%;
  max-width: 66.666%;

  display:flex;
  align-items: center;

  font-size: 6rem;
  font-family: var(--SpaceGrotesk);
  font-weight: 500;
}

.home-header__visuals {
  flex: 1 1 33.333%;
  flex-basis: 33.333%;
  max-width: 33.333%;

  display:flex;
  justify-content: center;
  align-items: center;
}

.home-header-btn {}

.projects {
  padding: 3rem 0;
}

.projects-description {
  display:flex;
  justify-content: center;
  padding: 3rem 0 5rem;

  h3 {
    font-family: var(--SpaceGrotesk);
    font-size: 4rem;
    background-image: linear-gradient(to bottom, lightseagreen, lightseagreen);
    background-size: 80% 2rem;
    background-position: 90% 90%, 0 90%;
    background-repeat: no-repeat;
  }
}

.project-row {
  max-width: 120rem;
  width: 90%;
  margin: 0 auto;
  position: relative;

  display:flex;
  justify-content: space-between;
  align-items: center;

  & + & {
    padding-top: 10rem;
  }
}

.project-imagewrapper {
  flex-basis: 50%;
  flex: 1 0 auto;
  position: relative;

  .project-textwrapper + & {
    margin-left: 10rem;
  }

  &:before {
    display: block;
    content: '';
    position:absolute;
    width: 70%;
    height: 95%;
    background-image: url('../public/testBars.svg');
    opacity: .05;
    left:-1.5rem;
    top: 2.8rem;
  }
}

.project-image {
    border: 1rem solid white !important;
}

.project-textwrapper {
  display:flex;
  flex-direction: column;
  flex: 1 1 auto;
  flex-basis: 50%;
  max-width: 50%;
  font-size: 1.6rem;
  line-height: 1.8;
  margin-left: -4rem;

  h3 {
    font-size: 2.6rem;
  }
  p {
    margin-top: 1rem;
    font-size: 1.7rem;
    line-height: 1.375;
  }
}

.project-textwrapper__inner {
  padding: 0 4rem;
}

.project-tags {
  list-style: none;
  display:flex;
  font-size: 1.2rem;
  margin-left: -.5rem;
  margin-right: -.5rem;
  padding: 1rem 0 0.5rem;
}

.project-tags li {
  padding: .8rem 1.3rem .8rem 1rem;
  background: #f0f4f9;
  border-radius: 2.6rem;
  margin: 0 .5rem;
  color: #2c2a42;
  font-weight: 700;
  display:flex;
  align-items: center;
  transition: background 0.3s ease-out;

  li:after {
    display: inline-block !important;
    content: " ";
        white-space: pre;
  }

  span {
    line-height: 0;
  }

  &:hover, &:focus {
    background: #c8c8d4;
    cursor:pointer;
  }
}

.project-tags__plus {
  width: 2rem;
  height: 2rem;
  background: white;
  overflow: hidden;
  display:flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-right: .5rem;
}

.project-actions {
  display:flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 1rem;
}

.project-actions__repolink {
  border-bottom: 2px solid white;
  transition: border-bottom 0.3s ease-out;
  font-style: italic;

  &:hover {
  border-bottom: 2px solid black;
  }
}

.project-actions__livelink {
  background-color: white;
  border: .3rem solid black;
  padding: .8rem 1.6rem;
  box-shadow: inset 0 0 0 0 black;
  transition: all 0.3s ease-out;
  font-weight: 600;
  text-transform: uppercase;

  .project-actions__repolink + & {
    margin-left: 2.5rem;
  }

  &:hover,
  &:focus {
    color: white;
    box-shadow:  inset 300px 0 0 0 black;
  }
}

.shots-container {
  margin: 0 auto;
  max-width: 90rem;
  width: 90%;
  text-align: center;
  padding: 5rem 0;
}

.shots-summary {
  font-size: 1.6rem;
  line-height: 1.5;
  max-width: 60rem;
  margin: 0 auto;
}

.shots-summary h3 {
  display:block;
  font-family: var(--SpaceGrotesk);
  font-size: 4rem;
  background-image: linear-gradient(to bottom, lightseagreen, lightseagreen);
  background-size: 40% 2rem;
  background-position: 60% 90%, 0 90%;
  background-repeat: no-repeat;
}

.shots-summary p {
  margin-top: 1rem;
}

.shots-wrapper {
  display:grid;
  grid-template-columns: 1fr 1fr;
  gap: 4rem;
  padding: 3rem 0 5rem;
}

.home-header__text__line {
  height: 26rem;
  width:100%;
  display:block;
  overflow: hidden;
  font-weight: 700;
  letter-spacing: -.8px;
  line-height: 1.2;
}