@use './mixins.scss';
@import './mixins.scss';

.header {
  width: 100%;
  position:relative;
  top: 0;
  flex: 0 0 auto;
  z-index: 10;
}

.nav{
  display:flex;
  justify-content: space-between;
  align-items: center;
  max-width: 120rem;
  width: 90%;
  margin: 0 auto;
  padding: 2rem 0;
  font-family: var(--SpaceGrotesk);
}


.nav-homelink__wrapper {
  display:flex !important;
  align-items: center !important;
}

.nav-homelink__label {
  font-weight: 900;
  font-size: 1.7rem;
  line-height: 1;
  font-family: var(--SpaceGrotesk);
  margin-left: 2rem;
}

.nav-list {
  list-style: none;
  display:flex;
  align-items: center;
  font-size: 1.7rem;
}

.nav-list-item {
  margin-left: 2rem;
  cursor:pointer;
  position:relative;
}

.nav-list-item:after {
  before: '';
  position:absolute;
  display:block;
}

.nav-list-item__num {
  margin-right: .5rem;
}