@use './mixins.scss';
@import './mixins.scss';

.shot-wrapper {
  background: white;
  border-radius: .5rem;
  overflow: hidden;
  position: relative;
  box-shadow: 0 1px 1px rgba(0,0,0,0.15),
              0 2px 2px rgba(0,0,0,0.15),
              0 4px 4px rgba(0,0,0,0.15);
  text-align: left;
  transform: translate(0, 0);
  transition: all 0.3 ease-out;
    cursor:pointer;

  &:before {
    content: '';
    position:absolute;
    width: 100%;
    display:block;
    height: 1rem;
  }

  &:nth-child(1):before {
    background: #acffff;
  }

  &:nth-child(2):before {
    background: #9d9ad5;
  }

  &:nth-child(3):before {
    background:#d2c3ff;
  }

  &:nth-child(4):before {
    background:rgba(255, 174, 174, 0.5);
  }

  &:nth-child(5):before {
    background:rgba(255, 205, 55, 0.59);
  }

  &:nth-child(6):before {
    background:rgba(221, 149, 126, 0.5);
  }
}

.shot-wrapper:hover,
.shot-wrapper:focus{
  transform: translate(0,-2px);
  box-shadow: 0 1px 1px rgba(0,0,0,0.11),
              0 2px 2px rgba(0,0,0,0.11),
              0 4px 4px rgba(0,0,0,0.11),
              0 8px 8px rgba(0,0,0,0.11),
              0 16px 16px rgba(0,0,0,0.11),
}


.shot-link {
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  color: black;
  text-decoration: none;
  &:hover,
  &:focus {
    color: black;
    text-decoration: none;
  }
}

.shot-link__content {
  padding: 1rem 2.5rem 2.5rem;
}
.shot-title {
  margin-top: 2rem;
  font-size: 2rem;
  display:flex;
  align-items: center;
}

.shot-title__arrow {
  margin-left: .5rem;
  transform: translateX(0);
  transition: transform 0.3s ease-out;
  opacity: .5;
  .shot-wrapper:hover &,
  .shot-wrapper:focus & {
    transform: translateX(.8rem);
  }
}

.shot-tags {
  list-style: none;
  font-size: 1.2rem;
  display:flex;
  align-items: center;
  margin-left: -.5rem;
  margin-right: -.5rem;
  padding: 1rem 0;
}

.shot-tags li {
  padding: .5rem 1.2rem;
  border-radius: 3rem;
  border: 1px solid #dbe3ea;
  color: #8d9ca8;
  margin: 0 .5rem;
  background-color: transparent;
  transition: color 0.3s ease-out, background-color 0.3 ease-out;
  font-weight: 500;
  &:hover,
  &:focus {
    border: 1px solid #dbe3ea;
    background-color: #dbe3ea;
    color: #4d575e;
  }
}

.shot-summary {
  font-size: 1.5rem;
  line-height: 1.55;
}

.shot-btn {
  border: 2px solid black;
  padding: .5rem 1rem;
  color: black;
  background: white;
  display:block;
  margin-top: auto;
}

.shot-svg {
  position:absolute;
  z-index: -1;
  opacity: .05;
  right: -5rem;
  top: 1rem;
  transform-origin: 1.5rem;

  .shot-wrapper:hover &,
  .shot-wrapper:focus & {
    animation: rotateCog 2s linear infinite;
  }
}

@keyframes rotateCog {
  from {
  transform-origin: center;
    transform: rotate(0deg);
  }
  to {
  transform-origin: center;

    transform: rotate(360deg);
  }
}